- name: install python3 packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: installed
  loop:
  - python3 
  - gcc 
  - python3-devel

- name: app setup tasks
  incluse_role:
    name: common
    tasks_from: app-setup

- name: install dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app

- name: copy payment service
  ansible.builtin.template:
    src: payment.service.j2
    dest: /etc/systemd/system/payment.service

- name: systemd tasks
  include_role:
    name: common
    tasks_from: systemd
